.location-section{
  padding: 0;
  background-color: $color-secondary;
  .map-image{
    width: 100%;
    padding: 0;
  }
  .content{
    color: $color-primary;
    padding: 2em;
  }
  @media (min-width: 80rem){
    .map-image{
      flex-basis: 60%;
    }
    .content{
      flex-basis: 30%;
      padding: 6em 4em 0;
    }
  }
}
